# db
DATABASE_URL="postgresql://postgres:password@localhost:5432/recallOs"

# minio
MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESSKEYID=admin
MINIO_SECRET_ACCESS_KEY=password123

# backend
PORT=3000
LLAMA_CLOUD_API_KEY=your-LLAMA_CLOUD_API_KEY
AWS_BUCKET_NAME=recallos
JWT_SECRET=secret