PORT=3000

LLAMA_CLOUD_API_KEY=your-llama-api-key
AWS_BUCKET_NAME=recallos

JWT_SECRET=secret

DATABASE_URL=postgresql://postgres:password@localhost:5432/recallOs

MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESSKEYID=admin
MINIO_SECRET_ACCESS_KEY=password123

STREAM_NAME=recallos
GROUP_NAME=embed-workers

OPENROUTER_API_KEY=

HOST=localhost
COLLECTION=recallos
DENSE_DIM=712

# Chat RAG
CHAT_MODEL=openai/gpt-4o-mini
HF_TOKEN=
CROSS_ENCODER_MODEL=cross-encoder/ms-marco-MiniLM-L6-v2