LLAMA_CLOUD_API_KEY=your-LLAMA_CLOUD_API_KEY
AWS_BUCKET_NAME=recallos
CONSUMER_GROUP=embed-workers
WORKER_ID=worker-1
HF_TOKEN=your-HF_TOKEN
EMBEDDING_MODEL=your-EMBEDDING_MODEL
CONTEXT_MODEL=your-CONTEXT_MODEL